<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">个人事务管理系统</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" data-url="">
        <a class="nav-link" href="/">首页 <span class="sr-only">(当前)</span></a>
      </li>
      <li class="nav-item" data-url="contacts">
        <a class="nav-link" href="/contacts.html">联系人</a>
      </li>
      <li class="nav-item" data-url="daily-summary">
        <a class="nav-link" href="/daily-summary.html">每日总结</a>
      </li>
      <li class="nav-item" data-url="monthly-summary">
        <a class="nav-link" href="/monthly-summary.html">月度总结</a>
      </li>
      <li class="nav-item" data-url="annual-summary">
        <a class="nav-link" href="/annual-summary.html">年度总结</a>
      </li>
      <li class="nav-item" data-url="daily-plan">
        <a class="nav-link" href="/daily-plan.html">每日计划</a>
      </li>
      <li class="nav-item" data-url="monthly-plan">
        <a class="nav-link" href="/monthly-plan.html">月度计划</a>
      </li>
      <li class="nav-item" data-url="annual-plan">
        <a class="nav-link" href="/annual-plan.html">年度计划</a>
      </li>
      <li class="nav-item" data-url="transactions">
        <a class="nav-link" href="/transactions.html">紧要事务</a>
      </li>
      <li class="nav-item" data-url="favor">
        <a class="nav-link" href="/favor.html">人情往来</a>
      </li>
      <li class="nav-item" data-url="wishlist">
        <a class="nav-link" href="/wishlist.html">愿望清单</a>
      </li>
      <li class="nav-item" data-url="interests">
        <a class="nav-link" href="/interests.html">兴趣列表</a>
      </li>
      <li class="nav-item" data-url="credits">
        <a class="nav-link" href="/credits.html">信用评估</a>
      </li>
      <li class="nav-item" data-url="finances">
        <a class="nav-link" href="/finances.html">财务记录</a>
      </li>
      <li class="nav-item" data-url="media-list">
        <a class="nav-link" href="/media-list.html">读书/观影列表</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Footer for copyright information -->
<footer class="footer mt-4 bg-light text-center">
  <div class="container">
    <span class="text-muted">© 2025 <a href="https://www.huimengfuture.xyz" target="_blank">辉梦未来网络科技工作室</a> 版权所有.</span>
    <span class="text-muted">《个人事务管理系统-前端》：本项目以Apache-2.0许可证开源在<a
      href="https://github.com/HuiMengFuture-Studios/ContactManageUser">Github</a>.</span>
  </div>
</footer>
